body{
    background-color: burlywood;
}

header{
    background-color: beige;
    height: 130px;
}

#Logo{
    float: left;
    width: 100px;
    height: 100px;
}

#name{
    font-size: 30px;
}

nav div{
    background-color: beige;
}

#content{
    background-color: beige;
}

#content2{
    background-color: beige;
}

#content3{
    background-color: beige;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
}

th,td{
    border: 2px solid black;
    text-align: center;
}

.nech{
    background-color: chocolate;
}

.chet{
    background-color: bisque;
}

footer{
    background-color: beige;
}

@media all and (orientation: landscape),(min-width: 768px){
    body{
        background-color: #ba9f8c;
    }
    
    header{
        height:135px;
    }
    
    .nech{
    background-color: #b59696;
}
    .chet{
    background-color: #cf7e91;
}
    
    footer{
        height:100px; 
    }
}

